

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
    font-weight: 400;
    /* background-color: #9bc4cb; */

}

main {
    width: 80%;
    margin: 0 auto;
}

/* HEADER AND NAV BAR */

.header {
    margin: 0 auto;
}

.header__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
    padding: 1em 0;
}

.nav-bar {
    margin: 0 auto;
    padding: 1em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(143, 210, 255);
    justify-content: center;
    
}

.nav-bar__link {
    padding: 0 3em;
    color: black;
    font-size: 1.25em;
    text-decoration: none;
}

.nav-bar__link:hover {
    color: rgb(238, 221, 165);
    text-decoration: underline;
}

.nav-bar__link--about {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/*  MAIN TITLES */

.title {
    text-align: center;

}


.title__main {
    font-size: 3em;
    font-weight: bold;
    padding: 0.5em 0;
}

.title__subtitle {
    font-size: 1.3em;
}


/* Flex-container. The flex property enables the flex context for all the direct children. Row direction sets the blocks horizontally next to one another. No wrap is required. */
.info-block {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;

}


.info-block__image {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
}


/* EMAIL SUBMISSION FORM */

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    font-size: 1em;
    height: 3em;
    align-items: stretch;
    line-height: 1.5em;
}

/* Form items don't inherit parent parameters like fonts or box-sizing, so these must be added individually to each item */

.form__button {
    background-color: rgb(7, 85, 150);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: inherit;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 150px;
    line-height: inherit;
    font-weight: bold;
    box-sizing: border-box;
  
}

/* Need to review this considerably - how to match height with submit button and how to remove the default border */
.form__input {
    height: 100%;
    width: 300px;
    margin-right: 1em;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(151, 151, 151);
    border-width: 1px;
    font-size: inherit;
 
    box-sizing: border-box;

}

.form__input:focus {
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(7, 85, 150);
    border-width: 1px;
    outline: none;
    box-shadow: 0 0 1px rgb(7, 85, 150);
}

.form__button:hover {
    background-color: rgb(28, 40, 112);
    box-shadow: 0 0 5px gray;
    /* transition: 150ms ease; */
    transition-property: background-color, border-color, box-shadow, color;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: background-color, box-shadow;
    cursor: pointer;
    
}

.description {
    text-align: center;
}

.video-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}