

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
    font-weight: 400;
    /* background-color: #9bc4cb; */
    min-height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    position: relative;
}

/* HEADER AND NAV BAR */

.header {
    margin: 0 auto;
}

.header__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
    padding: 1em 0;
    max-width: 950px;
}

.nav-bar {
    margin: 0 auto;
    padding: 1em 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(143, 210, 255);
    justify-content: center;
}

.nav-bar__link {
    padding: 0 3em;
    color: black;
    font-size: 1.25em;
    text-decoration: none;
}

.nav-bar__link:hover {
    /* Need to look at appropriate colours for this */
    color: rgb(0, 23, 99);
    text-decoration: underline;
}

.nav-bar__link--about {
    border-left: 2px solid black;
    border-right: 2px solid black;
}


/*  MAIN TITLES */

.title {
    text-align: center;
}

.title__main {
    font-size: 3em;
    font-weight: bold;
    padding: 1.0em 0 0.5em 0;
    line-height: 1em;
}

.title__subtitle {
    font-size: 1.3em;
    padding-bottom: 2em;
}

/* INFO BLOCKS */

/* CSS Grid going to be used to style this section, expect to use a 3x3 grid to split the images into one row and the info into another row. */

.grid-container {
    display: inline-grid;
    grid-template-columns: 200px 200px 200px;
    row-gap: 1em;
    column-gap: 3em;
    justify-items: start;
    align-items: center;
    /* width: 100%; */
    margin: 0 auto;
    padding: 2em 0;
}

.grid__item--image {
    width: 100%;
    height: auto;
    order: 1;
}

.grid__item--heading { 
    order: 2; 
    font-weight: bold;
}

.grid__item--description { order: 3; }



/* EMAIL SUBMISSION FORM */

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    font-size: 1em;
    height: 3em;
    align-items: stretch;
    line-height: 1.5em;
}



/* Form items don't inherit parent parameters like fonts or box-sizing, so these must be added individually to each item */

.form__button {
    background-color: rgb(7, 85, 150);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: inherit;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 150px;
    line-height: inherit;
    font-weight: bold;
    box-sizing: border-box;
}

.form__input {
    height: 100%;
    width: 300px;
    margin-right: 1em;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(151, 151, 151);
    border-width: 1px;
    font-size: inherit;
    box-sizing: border-box;
    padding: 1em;
}

.form__input:focus {
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(7, 85, 150);
    border-width: 1px;
    outline: none;
    box-shadow: 0 0 1px rgb(7, 85, 150);
}

.form__button:hover {
    background-color: rgb(0, 23, 99);
    box-shadow: 0 0 5px gray;
    /* transition: 150ms ease; */
    transition-property: background-color, border-color, box-shadow, color;
    transition-duration: 150ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: background-color, box-shadow;
    cursor: pointer; 
}

.description {
    text-align: center;
    font-size: 1.3em;
}

/* VIDEO AND IFRAME STYLING */

/* Among various solutions proposed online, this was the most effective ing iving full control ove riframe size while maintaining responsivity. */

.video-wrapper {
    width: 100%;
    max-width: 696px;
    margin: 0 auto;
    /* padding: 1em 0; */
    margin-top: 1em;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* TESTIMONIAL */

.testimonial {
    text-align: center;
    max-width: 696px;
    align-self: center;
}

.testimonial__content {
    font-style: italic;
}

.testimonial__citation {
    color: gray;
    font-size: 0.75em;
}

/* FOOTER */

.footer {
    margin: 2em auto 0 auto;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    background-color: rgb(143, 210, 255);
}

.footer__link {
    padding: 0 0.5em;
    color: black;
    text-decoration: none;
}

.footer__link:hover {
    /* Need to look at appropriate colours for this */
    color: rgb(0, 23, 99);
    text-decoration: underline;
}

/* RESPONSIVE DESIGN */

/* Breakpoint exists at 870px where everything shrinks except grid. This first rule exists to say "use this styling up until the width reaches the maxximum alloweed of 870px." */

@media screen and (max-width: 870px) {
    .grid-container {
        grid-template-columns: auto;
        max-width: 300px;
        justify-items: center;
    }

    .grid__item--image {
        width: 200px;
        height: auto;
        order: 1; 
    }
    
    .grid__item--heading { 
        order: 1; 
        font-weight: bold;
        text-align: center;
    }
    
    .grid__item--description { 
        order: 1;
        padding-bottom: 1.5em; 
        text-align: center;
    }

    .title__main {
        font-size: 2.5em;
    }
    
    .title__subtitle {
        font-size: 1.2em;
    }

    .description {
        font-size: 1.2em;
    }

    .nav-bar__link {
        font-size: 1em;
        padding: 0 1.5em;
    }

    .nav-bar {
        padding: 0.5em 0;
    }

    .header__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 70%;
        padding: 1em 0;
    }
}

/* Preventing form from breaking */

@media screen and (max-width: 608px) {
    .form__button {
        width: 100%;
        margin-bottom: 0.5em;
    }

    .form__input {
        width: 100%;
        margin-bottom: 0.5em;
    }

    .form__controls {
        width: 100%;
    }

    .video-wrapper {
        margin-top: 4.5em;
    }

    .header__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        padding: 1em 0;
    }
}


